* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body {
    color: #fff;
    background-color: #000711;
    background-image: url("data:image/svg+xml,%3Csvg width='84' height='84' viewBox='0 0 84 84' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23002491' fill-opacity='0.12'%3E%3Cpath d='M84 23c-4.417 0-8-3.584-8-7.998V8h-7.002C64.58 8 61 4.42 61 0H23c0 4.417-3.584 8-7.998 8H8v7.002C8 19.42 4.42 23 0 23v38c4.417 0 8 3.584 8 7.998V76h7.002C19.42 76 23 79.58 23 84h38c0-4.417 3.584-8 7.998-8H76v-7.002C76 64.58 79.58 61 84 61V23zM59.05 83H43V66.95c5.054-.5 9-4.764 9-9.948V52h5.002c5.18 0 9.446-3.947 9.95-9H83v16.05c-5.054.5-9 4.764-9 9.948V74h-5.002c-5.18 0-9.446 3.947-9.95 9zm-34.1 0H41V66.95c-5.053-.502-9-4.768-9-9.948V52h-5.002c-5.184 0-9.447-3.946-9.95-9H1v16.05c5.053.502 9 4.768 9 9.948V74h5.002c5.184 0 9.447 3.946 9.95 9zm0-82H41v16.05c-5.054.5-9 4.764-9 9.948V32h-5.002c-5.18 0-9.446 3.947-9.95 9H1V24.95c5.054-.5 9-4.764 9-9.948V10h5.002c5.18 0 9.446-3.947 9.95-9zm34.1 0H43v16.05c5.053.502 9 4.768 9 9.948V32h5.002c5.184 0 9.447 3.946 9.95 9H83V24.95c-5.053-.502-9-4.768-9-9.948V10h-5.002c-5.184 0-9.447-3.946-9.95-9zM50 50v7.002C50 61.42 46.42 65 42 65c-4.417 0-8-3.584-8-7.998V50h-7.002C22.58 50 19 46.42 19 42c0-4.417 3.584-8 7.998-8H34v-7.002C34 22.58 37.58 19 42 19c4.417 0 8 3.584 8 7.998V34h7.002C61.42 34 65 37.58 65 42c0 4.417-3.584 8-7.998 8H50z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

a{
    color: #fff;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    margin: auto;
}

/* NAVIGATION */
.nav-main {
    font-size: 17px;
    display:flex;
    justify-content: space-around;
    height: 60px;
    padding: 20px 0;
}

.nav-brand {
    width: 50px;
    height: 50px;
}

.nav-main ul{
    display:flex;
}

.nav-main ul li {
    padding: 10px;
}

.nav-main ul li a {
    padding: 6px;
}

.nav-main ul li a:hover {
    border-bottom: 2px solid #fff;
}

.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px;
}

.menu-btn {
    position: absolute;
    cursor: pointer;
    top:15px;
    right: 30px;
    z-index: 2;
    font-size: 1.6rem;
    display:none;
}

/* SHOWCASE */

hr {
    margin: 10px 0;
}

.showcase {
    width: 100%;
    height: 550px;
    background:url(./IMG/showcase.jpg) no-repeat center center/cover;
    padding: 50px;
    margin-bottom: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}


.showcase h2,
.showcase p {
    margin-bottom: 10px;
    text-shadow: #000711 1px 1px;

}

.showcase h2 {
    font-size: 60px;
    color:#eee;
    text-shadow: #000711 3px 3px;
}

.showcase p {
    width: 80%;
}

.btn {
    cursor:pointer;
    display:inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #fff;
    font-size: 15px;
    border: 1px solid #fff;
    margin: 10px 0;
}

.btn:hover {
    background: #000711;
}


/* PRODUCTS */
.new-cards {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:25px;
}

.new-cards img {
    width: 100%;
    height: 340px;
    margin: 10px 0;
}

.new-cards h3 {
    font-size: 20px;
    margin:10px 0;
}

.new-cards a {
    padding: 10px 0;
    color: #f2f2f2;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}

.new-cards a:hover {
    text-decoration: underline;
}
/* BANNER CENTRAL */

.cards-banner-one {
    width: 100%;
    height: 300px;
    background:url(./IMG/banner.jpg) no-repeat center center/cover;
    padding-bottom: 50px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 20px 0;
}

.cards-banner-one h2,
.cards-banner-one p {
    margin-bottom: 10px;
    text-shadow: #000711 1px 1px;
}
.cards-banner-one h2 {
    font-size: 45px;
    text-shadow: #000711 3px 3px;
}
.cards-banner-one:hover {
    cursor: pointer;
}

.content{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* BANNER FINAL */

.cards-banner-two {
    width: 100%;
    height: 300px;
    background: url(./IMG/pantalones.jpg) no-repeat center center/cover;
    padding-bottom: 50px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.cards-banner-two h2,
.cards-banner-two p {
    margin-bottom: 10px;
    text-shadow: #000711 1px 1px;
}
.cards-banner-two h2 {
    font-size: 45px;
    text-shadow: #000711 3px 3px;
}
.cards-banner-two:hover {
    cursor: pointer;
}


/* SOCIAL */

.social {
    margin: 50px;
}

.social p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    color: #eee;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a{
    margin : 0 30px;
}

.links a i{
    font-size: 3rem;
}

/* FOOTER LINKS */

.footer-links {
    background: #2f3640;
    color:#616161;
    font-size: 12px;
    padding: 35px 0;
}

.footer-container {
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.footer-container ul {
    margin: 0 auto;
}

.footer-container ul li {
    line-height: 2.5;
}

.footer {
    background: #2f3640;
    color:#616161;
    font-size: 12px;
    padding:  20px 0 40px 0;
    text-align: center;
}

/* MEDIA IPAD */
@media screen and (max-width: 1024px) {
    .menu-btn {
        display: block;
    }

    .nav-main ul.nav-menu{
        display:block;
        position: absolute;
        top:0;
        left:0;
        background: #000711;
        background-image: url("data:image/svg+xml,%3Csvg width='84' height='84' viewBox='0 0 84 84' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23002491' fill-opacity='0.12'%3E%3Cpath d='M84 23c-4.417 0-8-3.584-8-7.998V8h-7.002C64.58 8 61 4.42 61 0H23c0 4.417-3.584 8-7.998 8H8v7.002C8 19.42 4.42 23 0 23v38c4.417 0 8 3.584 8 7.998V76h7.002C19.42 76 23 79.58 23 84h38c0-4.417 3.584-8 7.998-8H76v-7.002C76 64.58 79.58 61 84 61V23zM59.05 83H43V66.95c5.054-.5 9-4.764 9-9.948V52h5.002c5.18 0 9.446-3.947 9.95-9H83v16.05c-5.054.5-9 4.764-9 9.948V74h-5.002c-5.18 0-9.446 3.947-9.95 9zm-34.1 0H41V66.95c-5.053-.502-9-4.768-9-9.948V52h-5.002c-5.184 0-9.447-3.946-9.95-9H1v16.05c5.053.502 9 4.768 9 9.948V74h5.002c5.184 0 9.447 3.946 9.95 9zm0-82H41v16.05c-5.054.5-9 4.764-9 9.948V32h-5.002c-5.18 0-9.446 3.947-9.95 9H1V24.95c5.054-.5 9-4.764 9-9.948V10h5.002c5.18 0 9.446-3.947 9.95-9zm34.1 0H43v16.05c5.053.502 9 4.768 9 9.948V32h5.002c5.184 0 9.447 3.946 9.95 9H83V24.95c-5.053-.502-9-4.768-9-9.948V10h-5.002c-5.184 0-9.447-3.946-9.95-9zM50 50v7.002C50 61.42 46.42 65 42 65c-4.417 0-8-3.584-8-7.998V50h-7.002C22.58 50 19 46.42 19 42c0-4.417 3.584-8 7.998-8H34v-7.002C34 22.58 37.58 19 42 19c4.417 0 8 3.584 8 7.998V34h7.002C61.42 34 65 37.58 65 42c0 4.417-3.584 8-7.998 8H50z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        height: 100%;
        border-right:5px solid #616161;
        padding: 30px;
        opacity: .9;
        transition:  transform .7s ease-in-out;   
        transform: translateX(-400px);
    }

    .nav-main ul.nav-menu li{
        padding: 20px;
        border-bottom: #eee solid 2px;
        font-size: 15px;
        
    }

    .nav-main ul.nav-menu.show {
        transform: translateX(-20px);
    }
    .nav-brand {
        display:none;
    }

    .nav-main ul.nav-menu-right {
        padding-right: 40px ;
    }    

    .footer-links .footer-container {
        grid-template-columns: repeat(2,1fr);
    }

    .new-cards img {
        height:fit-content;
    }
}
/* MEDIA TABLET*/

@media screen and (max-width: 760px) {

    .new-cards {
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
    }

    .new-cards img {
        width: 250px;
        height:fit-content;
 
    }
    .showcase {
        width: auto;
        height: auto;
        align-items: center;
        justify-content: center;
    }

    .showcase h2{
        font-size: 32px;
    }
    .showcase p {
        font-size: 15px;
    }

    .btn {
        font-size: 12px;
        padding: 7px 15px;
    }
    
    .cards-banner-one .content {
        font-size: 15px;
    }
    .cards-banner-one h2 {
        font-size: 30px;
    }
    .cards-banner-two .content{
        font-size: 15px;
    }
}

@media screen and (max-width:610px) {
    .new-cards img {
        width: 210px;
        height:fit-content;
    }
}


/* MEDIA PHONE  */
@media screen and (max-width: 500px) {
    .new-cards {
        grid-template-columns: 1fr;
        align-items: center;
    }
    .new-cards img {
        width: 300px;
        height:fit-content;
    }
    .showcase {
        height: 250px;
        align-items: center;
        justify-content: center;
    }

    .showcase h2{
        font-size: 25px;
    }
    .showcase p {
        font-size: 12px;
    }   
    .cards-banner-one .content,
    .cards-banner-two .content {
        width: 100%;
    }

    .footer-links .footer-container {
        grid-template-columns: 1fr;
    }
}